body{
    background: #e3d4ba;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #fff1d9;
    justify-content: space-between; /*separa el header*/
    align-items: center; /* centar elemenros verticalmente*/
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 100px;
}

a{
    text-decoration: none;
    color: #000;
    transition: background-color 0.5s;
}

nav a{
    font-weight: 600;
    padding: 10px;
}

nav a:hover{
    background-color: #ffffff;
    color: #3e2f27;
}

@media (max-width:700px){
    header{
        flex-direction: column;

    }

    nav{
        padding: 10px 0;
    }
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div img{
    width: 400px;
    height: 300px;
    border: 2px solid #6d412a;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0 #6d412a6e;
    margin: 10px;
    transition: 400ms;
    object-fit: cover;
    filter: grayscale(1);
}

div img:hover{
    filter: none;
    transform: scale(1.08);
}


.berkshire-swash-regular {
        font-family: "Berkshire Swash", serif;
        font-weight: 400;
        font-style: normal;
        text-align:center;
        color: #000;
}
.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align:center;
    color: #6D412A;
}
.nuestroig{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align:center;
    color: #000;
}

table ,th ,td{
    background: #fff1d9;
    border: 1px solid #444 ;
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
}

.contactos, .div3{
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}